.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  0% {color: #F7FAFC}
  100% {color: #1A202C}
}

.grad {
  background-image: linear-gradient(#EDF2F7, #FFFFFF);
}

.fnt {
  font-family: Ubuntu Mono;
}
